In [1]:
import pandas as pd
import numpy as np

In [2]:
jsonStr = [{"Gender": "Male", "HeightCm": 171, "WeightKg": 96 },
{ "Gender": "Male", "HeightCm": 161, "WeightKg": 85 },
{ "Gender": "Male", "HeightCm": 180, "WeightKg": 77 },
{ "Gender": "Female", "HeightCm": 166, "WeightKg": 62},
{"Gender": "Female", "HeightCm": 150, "WeightKg": 70},
{"Gender": "Female", "HeightCm": 167, "WeightKg": 82}]

In [3]:
df = pd.DataFrame.from_records(jsonStr)

In [4]:
df.head()

   Gender  HeightCm  WeightKg
0    Male       171        96
1    Male       161        85
2    Male       180        77
3  Female       166        62
4  Female       150        70

Formula 1 - BMI
BMI(kg/m2) = mass(kg) / height(m)2

In [5]:
def BMI(weight, height, kg=True, m=True):
    
    if kg== False:
        weight = weight/1000
    
    if m==False:
        height = height/100
        
    bmi = round(weight/(height**2),2)
    
    return bmi

In [6]:
df['BMI'] = df.apply(lambda x: BMI(x['WeightKg'], x['HeightCm'], kg=True, m=False), axis=1)
df.head()

   Gender  HeightCm  WeightKg    BMI
0    Male       171        96  32.83
1    Male       161        85  32.79
2    Male       180        77  23.77
3  Female       166        62  22.50
4  Female       150        70  31.11

In [7]:
bins = [0, 18.4, 24.9, 29.9, 34.9, 39.9, np.inf]
labels_category = ['Underweight', 'Normal weight', 'Overweight', 'Moderately obese', 'Severely obese', 'Very severely obese']
labels_health = ['Malnutrition risk', 'Low risk', 'Enhanced risk', 'Medium risk', 'High risk', 'Very high risk']
df['BMI Category']  = pd.cut(df['BMI'],bins, labels=labels_category)
df['Health risk']  = pd.cut(df['BMI'],bins, labels=labels_health)

In [24]:
df

   Gender  HeightCm  WeightKg    BMI      BMI Category    Health risk
0    Male       171        96  32.83  Moderately obese    Medium risk
1    Male       161        85  32.79  Moderately obese    Medium risk
2    Male       180        77  23.77     Normal weight       Low risk
3  Female       166        62  22.50     Normal weight       Low risk
4  Female       150        70  31.11  Moderately obese    Medium risk
5  Female       167        82  29.40        Overweight  Enhanced risk

In [23]:
len(df[df['BMI Category'] == 'Overweight'])

1

There is 1 person in the JSON that classifies as overweight almost Moderately obese. Only two are of Normal weight while the rest are Moderately obese.